.servicios-main-container {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: clamp(12px, 1.2vw, 70px) clamp(60px, 10.7vw, 155px);
    min-height: 600px;
}

@media (max-width: 768px) {
    .servicios-main-container {
        padding: 12px 0px;
        min-height: 1200px;
    }
}