.noticias-container {
    background-color: var(--background-color);
    height: clamp(500px, 50vw, 785px);
    display: flex;
    flex-direction: column; 
    justify-content: center;
   align-items: center; 
}

.all-news-container {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    gap: 24px;
    padding: 40px; 
    scroll-behavior: smooth;
}

.all-news-container::-webkit-scrollbar {
    display: none;
}

@media (max-width: 768px) {
    .noticias-container {
        width: 100%;
        height: auto;
        padding: 20px;
        justify-content: flex-start; 
        align-items: center;
    }

    .all-news-container {
        display: flex;
        overflow-x: auto;
        gap: 16px;
        padding: 20px;
        scroll-behavior: smooth;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .all-news-container::-webkit-scrollbar {
        display: none;
    }
}