.logotipos-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: clamp(12px, 1.2vw, 16px) clamp(60px, 10.7vw, 155px);
    min-height: clamp(200px, 15vw, 300px);
}

.logo-image {
    /* Ajusta estos valores según necesites */
    max-width: 80px;
    height: 80px;
    object-fit: contain;
}