.logotipos-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: clamp(12px, 1.2vw, 16px) clamp(60px, 10.7vw, 155px);
    min-height: clamp(200px, 15vw, 300px);
}

.logo-image {
    max-width: 80px;
    height: 80px;
    object-fit: contain;
}

@media (max-width: 768px) {
    .logotipos-container {
        flex-wrap: nowrap;
        justify-content: space-around;
        padding: clamp(12px, 1.2vw, 16px) 0;
    }

    .logo-image {
        max-width: 60px;
        height: 60px;
    }
}