$breakpoints: (
    'mobile': 320px,
    'tablet': 768px,
    'desktop': 1024px,
    'large': 1440px
);

$colors: (
    'primary': #041E49,
    'secondary': #dc2626,
    'background': #F5F9FF,
    'white': #FFFFFF
);

$container-padding: (
    'mobile': 16px,
    'tablet': 24px,
    'desktop': 32px,
    'large': 40px
);