.product-section-container {
    background-color: #F5F9FF;
    height: 614px;
    display: flex;
    flex-direction: column; 
    justify-content: center; /* Centra horizontalmente */
   align-items: center; 
}

.all-products-container {
    display: flex;
    gap: 20px; /* El mismo gap que especificaste antes */
    /* Para que estén en una línea */
    flex-wrap: nowrap;
    justify-content: center; /* Centra horizontalmente */
   align-items: center; 
 }
 
 /* Para móvil podemos permitir que se envuelvan */
 @media (max-width: 768px) {
    .all-products-container {
        flex-wrap: wrap;
        justify-content: center;
    }
 }