.product-card-container {
    width: clamp(250px, 18.26%, 263px);
    height: clamp(340px, 25.35%, 365px);
    width: 250px;
    height: 340px;
    /* Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.image-container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.product-card-container h6 {
    text-align: center;
    margin: 0;
    color: #041E49;
}