.product-section-container {
    background-color: #F5F9FF;
    min-height: 614px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
   align-items: center; 
}

.all-products-container {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; 
 }
 
 @media (max-width: 768px) {
    .product-section-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .all-products-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 100%;
    }
}