.servicios-main-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 5% 10.42%;
    background-color: #F5F9FF;

}

.servicios-main-container h2 {
    text-align: center;
    margin-bottom: 56px;
    color: #041E49;
    font-weight: 700;
    font-size: clamp(32px, 3.11vw, 44.79px);
    line-height: clamp(36px, 3.42vw, 49.27px);
    letter-spacing: 0;
    text-align: center;
    color: #041E49;
    margin-bottom: 56px;
}

.servicios-container {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(30px, 3.89vw, 56px);
    justify-content: center;
}

/* Media queries para responsividad */
@media (max-width: 768px) {
    .servicios-main-container {
        padding: 5%;
    }

    .servicios-container {
        gap: 30px;
    }
}

