.cta-main-container {
    padding: clamp(30px, 3.5vw, 72px) clamp(60px, 10.7vw, 155px);
    background-color: #F5F9FF;
    min-height: 445px;
    display: flex;
    justify-content: center;

}

.servicios-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: clamp(10px, 2vw, 56px);
    align-items: center;
}

@media (max-width: 768px) {
    .cta-main-container {
        padding: 12px 0px;
    }
}