.button {
    min-width: 98.19px;
    height: 34px;
    border-radius: 33px;
    border-width: 1px;
    /* padding: 8px 12px; */
    gap: 8px;
    font-weight: 700;
    font-size: clamp(11px, 1.1vw, 18px);
    transition: all 0.2s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-content {
    display: flex;
    align-items: center;
    gap: 8px;
}

.default {
    padding: 8px 12px;
    font-size: clamp(10px, 1vw, 15px);
  }
  
  .large {
    padding: 22px 16px;
    font-size: clamp(12px, 1.1vw, 28px);
    min-width: 170px;
  }
  
  .small {
    padding: 6px 10px;
    font-size: clamp(10px, 1vw, 16px);
  }

/* Variante sólida (como el botón de Contactar) */
.solid {
    background-color: #D50032;
    color: white;
    border: none;
    width: fit-content;
}

.solid:hover {
    background-color: #b91c1c;
}

/* Variante outline (como el botón de Tienda) */
.outline {
    background-color: transparent;
    border: 1px solid #1f2937;
    color: #1f2937;
    width: fit-content;

}

.outline:hover {
    background-color: #f3f4f6;
}