.footerContent {
    width: 100%;
    min-height: fit-content;
    padding: clamp(30px, 3.5vw, 72px) clamp(60px, 10.7vw, 155px);
    gap: 7rem;
    display: flex;
    flex-direction: row;
    background-color: #005EB8;
    color: white;
}

.col1,
.col2 {
    display: flex;
}

.col1 {
    flex-direction: column;
    flex: 0.6;
    gap: clamp(8px, 2vw, 24px);
}

.col1-footerLogo {
    width: 80%;
}

.col1-footerLogo img {
    width: 100%;
    height: auto;
    object-fit: contain;
    filter: brightness(0) invert(1);
}

.col1-info {
    width: 100%;
}

.col1-info p {
    font-size: clamp(10px, 1.1vw, 18px);
    line-height: clamp(15px, 2vw, 25px);
}

.col1-button button {
    margin-bottom: clamp(8px, 2vw, 24px);

}

.col1-logos {
    width: 80%;
    filter: brightness(0) invert(1);
}

.col1-logos img {
    width: 100%;
    height: auto;
    object-fit: contain;
}



.col2 {
    flex-direction: row;
    flex: 1.4;
    display: flex;
    gap: 3rem;
}

.col2-menu {
    flex: 0.7;
}

.col2-form {
    flex: 1.3;
}

.col2-menu nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-top: 2rem;
}

.col2-menu nav li {
    color: white;
    font-weight: 700;
    font-size: clamp(11px, 1.1vw, 18px);
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.col2-menu nav li:hover {
    opacity: 0.8;
}



@media (max-width: 768px) {
    .footerContent {
        flex-direction: column;
        padding: clamp(16px, 5vw, 24px);
        gap: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .col1,
    .col2 {
        flex-direction: column;
    }

    .col1-footerLogo {
        width: 80%;
    }

    .col1-footerLogo img {
        width: 50%;
        height: auto;
        object-fit: contain;
        filter: brightness(0) invert(1);
    }

    .col1-info {
        width: 100%;
    }

    .col1-info p {
        font-size: clamp(10px, 1.1vw, 18px);
        line-height: clamp(15px, 2vw, 25px);
    }

    .col1-button button {
        margin-bottom: clamp(8px, 2vw, 24px);
        width: 50%
    }

    .col1-logos {
        width: 50%;
        filter: brightness(0) invert(1);
    }

    .col1-logos img {
        width: 50%;
        height: auto;
        object-fit: contain;
    }

    .col2 {
        gap: 3rem;
        width: 100%;

    }

    .col2-menu nav ul {
        gap: 2rem;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .col1-footerLogo,
    .col1-logos {
        width: 100%;
    }

    .col1-button button {
        width: 100%;
    }
}