.proyectos-main-container {
    background-color: var(--background-color);
    height: clamp(500px, 50vw, 785px);
    display: flex;
    flex-direction: column; 
    justify-content: center;
   align-items: center; 
}

.all-projects-container {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    gap: 24px;
    padding: 40px; 
    scroll-behavior: smooth;
}

@media (max-width: 768px) {
    .proyectos-main-container {
        width: 100%;
        height: auto;
        padding: 20px;
        justify-content: flex-start; 
        align-items: center;
    }
}