.headerContent {
    width: 100%;
    height: auto;
    min-height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: clamp(12px, 1.2vw, 16px) clamp(60px, 10.7vw, 155px);
    background-color: #F5F9FF;
    margin: 0 auto;
    box-sizing: border-box;
    position: fixed;
    top:0;
    z-index: 1000;
}

.headerLogo {
    width: 20%; 
    max-width: 223px;
}

.headerLogo img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.headerUl ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.headerUl li {
    color: #041E49;
    font-weight: 700;
    font-size: clamp(11px, 1.1vw, 18px);
    cursor: pointer;
    transition: color 0.2s ease;
    line-height: 1.2;
    white-space: nowrap; 
}

.headerUl li:hover {
    color: #D50032;
}

.headerButtons {
    display: flex;
    align-items: center;
}

.headerButtons>div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.cursor-pointer:hover {
    cursor: pointer;
}