.quienes-somos-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem; /* Espacio entre columnas */
    background-color: #F5F9FF;
}

.first-column-hc {
    flex: 1; /* Toma el espacio disponible */
}

.second-column-hc {
    flex: 1;
}

/* Para asegurar que la imagen se ajuste a su contenedor */
.first-column-qs img {
    width: 100%;
    height: auto;
}

/* Para hacer responsive */
@media (max-width: 768px) {
    .hero-content {
        flex-direction: column;
    }
}