.quienes-somos-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    background-color: var(--background-color);
    padding: clamp(25px, 3.5vw, 72px) clamp(60px, 10.7vw, 155px);
    position: relative;
    height: clamp(300px, 50vw, 555px);
}

.blue-background-wrapper {
    position: relative;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
}

.first-column-qs,
.second-column-qs { 
    z-index: 1;
}

.first-column-qs {
    flex: 1; 
    position: relative; 
    background-color: var(--secondary-color);
    padding: 20px; 
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
}

.first-column-qs img {
    width: 121%;
    height: auto;
    position: absolute; 
    bottom: 0;
    right: 0;
}

.second-column-qs {
    flex: 1;
    border-radius: 0 24px 24px 0;
}

.second-column-qs h1{
    width: 70%;
    color: var(--basic-color);
    font-size: clamp(18px, 3vw, 30px);
    margin-top: 40px;
    line-height: clamp(18px, 3vw, 41px);
}

.second-column-qs p{
    width: 85%;
    margin-bottom: 30px;
    font-size: clamp(10px, 1.5vw, 18px);
    color: var(--basic-color);
    line-height: clamp(15px, 2vw, 25px);
}

.second-column-qs button {
    margin-bottom: 40px;
}


@media (max-width: 768px) {
    .quienes-somos-content {
        flex-direction: column-reverse;
        align-items: center;
        gap: 1rem;
        padding: clamp(16px, 4vw, 24px);
        text-align: center;
        height: auto;
    }

    .blue-background-wrapper {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .first-column-qs {
        flex: 1;
        background-color: var(--secondary-color);
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        border-radius: 24px;
    }

    .first-column-qs img {
        width: 120%;
        height: auto;
        position: static;
        bottom: unset;
        right: unset;
    }

    .second-column-qs {
        flex: 1;
        display: flex; 
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: clamp(18px, 5vw, 24px);
    }

    .second-column-qs h1 {
        width: 100%;
        font-size: clamp(18px, 4vw, 30px);
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .second-column-qs p {
        width: 100%;
        margin-bottom: 40px;
        font-size: clamp(14px, 3vw, 18px);
    }

    .second-column-qs button {
        margin-bottom: 0px;
    }
}
