.hero-content {
    display: flex;
    width: 100%; 
    justify-content: space-between;
    align-items: center;
    gap: 2rem; 
    background-color: var(--background-color);
    padding: clamp(12px, 1.2vw, 16px) clamp(60px, 10.7vw, 155px);
    position: relative; 
}

.blue-background-overlay {
    position: absolute;
    background-color: var(--secondary-color);
    top: clamp(20px, 4vw, 46px);
    bottom: 0;
    bottom: clamp(12px, 1.2vw, 16px);
    right: 0;
    width: 45%;
    z-index: 0;
    border-radius: 24px 0 0 24px;    
}

.first-column-hc, .second-column-hc {
    min-width: 0;
    position: relative;
    z-index: 1;
}

.first-column-hc {
    flex: 0.75;
}

.first-column-hc h1 {
    font-size: clamp(32px, 3.2vw, 53px);
    color: var(--primary-color);
    line-height: clamp(1.2em, 4vw, 59px);
}

.first-column-hc p {
    width: 90%;
    font-size: clamp(16px, 1.3vw, 21px);
    color: var(--primary-color);
    margin-bottom: 50px;
    line-height: clamp(20px, 3vw, 30px);
}

.first-column-hc button {
    margin-bottom: 50px;
}

.second-column-hc {
    flex: 1.25;
    position: relative;
    z-index: 1;
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    overflow: visible;
}

.second-column-hc img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 105%;
    height: auto;
    transform-origin: bottom left;
}

@media (max-width: 768px) {
    .hero-content {
        flex-direction: column-reverse;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        padding: clamp(16px, 4vw, 24px);
        text-align: center; 
    }

    .blue-background-overlay {
        width: 80%; 
        height: 50%;
        border-radius: 0 24px 24px 0px;
        top: auto;
        bottom: clamp(16px, 4vw, 24px);
        left: 0;
    }

    .first-column-hc {
        flex: none;
        width: 100%;
    }

    .first-column-hc p {
        width: 100%;
        margin-bottom: 24px;
    }

    .second-column-hc {
        flex: none;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .second-column-hc img {
        position: relative;
        width: 120%;
        max-width: 320px;
        height: auto;
    }
}